*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(188, 247, 227, 0.959);
}
.tabela{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 200px;
    width: auto;
}
table{
    width: auto;
    table-layout: auto;  
    border: solid 1px black;
}
td, th{
    padding: 5px;
    border: solid 2px rgb(0, 0, 0);
    text-align: center;
}
thead th{
    background-color: beige;
    text-transform: uppercase;
}
/* Números impares*/
tr:nth-child(odd){
    background-color: rgb(255, 255, 255);
}
/* Números pares*/
tr:nth-child(even){
    background-color: rgb(158, 158, 158);
}
